div.main_container {
	margin-left: auto;
	margin-right: auto;
}

html, body {
	background-image: url("../images/bg.jpg");
	margin: 0;
}

div.container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;

	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-top: 40px;
	background-color: white;
}

code {
    font-size: 14px;
    border: none;
}

pre {
    font-size: 19px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.vcenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    vertical-align: center;
}

footer {
	margin-top: 40px;
	padding: 5px;

	color: darkgray;
	background-color: white;
	text-align: center;
}

a.footer {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	font-size: 15px;
	color: black;
	margin-bottom: 5px;
}
