div.line {
    border: none;
    border-top: 1px solid rgb(130, 130, 130);
    color: #FFFFFF;
    background-color: #FFFFFF;
    height: 1px;
}

@font-face {
	font-family: "LINTSEC";
	src: url("/files/fonts/lintsec.ttf");
}

@keyframes example {
	0% {color: black;}
	25% {color: rgb(10, 90, 190);}
	50% {color: black;}
    75% {color: rgb(10, 90, 190);}
    100% {color: black;}
}

p {
    font-size: 19px;
}

a.button {
    font-size: 19px;
}

.container {
    margin-top: 50px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

img.bordered {
   border: 1px solid rgb(130, 130, 130);
   padding: 10px;
}
