@media only screen and (max-width: 768px) {
	h1 { font-size: 25px; }
	h2 { font-size: 23px; }
	h3 { font-size: 20px; }
	h4 { font-size: 17px; }
	h5 { font-size: 14px; }
	h6 { font-size: 11px; }

	#nav, pre, code, p, a.menu {
		font-size: 12px;
	}

	a.button {
		font-size: 10px;
		font-family: "Lato";
		padding: 5px;

		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: auto;

		text-align: center;
		vertical-align: center;
	}
}
