#nav a.menu {
	text-decoration: none;
	font-size: 19px;
	font-family: "Lato";
	color: black;
}

a.menu {
	text-decoration: none;
	font-size: 19px;
	font-family: "Lato";
	color: black;
	padding: 10px;
}

a.menu:hover {
    color: rgb(10, 80, 190);
}

#nav {
    margin: 20px 0 0 0;
    margin-bottom: -10%;
    width: auto;
}

#nav ul li {
    display: inline;
    margin: 0 20px 0 0;
    margin-bottom: 130px;
    width: auto;
}

#nav a {
    text-decoration: none;
	font-family: "Lato";
    font-size: 19px;
    width: auto;
}

#nav a.menu:hover {
    color: rgb(10, 80, 190);
}
